/* Desktop view için sağ tarafa hizalanmış menü */
.menu-desktop {
    display: none;
  }
  
  .menu-mobile {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .menu-desktop {
      display: flex;
      align-items: center;
    }
  
    .menu-mobile {
      display: none;
    }
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  